<div>
  <h1> Links: </h1>
  <ul id="links">
  <% @links.each do |link| %>
    <li>
      Title: <%= link.title %>
      URL: <%= link.url %>
    </li>
  <% end %>
  </ul>
</div>
<div>
  <h1> Tags: </h1>
  <ul id="tags">
  <% @tags.each do |tag| %>
    <li>
      Name: <%= tag.name %>
    </li>
  <% end %>
  </ul>
</div>

<form action="/">
  <input type="submit" value="Return to Home">
</form>