<form action="/adding_links" method="post">
  <p> add your url </p>
  <input type="text" name="add_url">
  <p> add your title </p>
  <input type="text" name="add_title">
  <p> add your tag </p>
  <input type="text" name="add_tag">
  <input type="submit" name="add_link" value="add link">
</form>
<form action="/">
  <input type="submit" value="Return to Home">
</form>