<form method='post' action='/links/new/add'>
  <p>
    Title: <input type='text' name='title'>
  </p>
  <p>
    URL: <input type='text' name='url'>
  </p>
  <p>
    Tags: <input type='text' name='tag'>
  </p>
  <input type='submit' value='Submit'>
</form>
