<form action='/links/new' method='get'>
  <input value='Add bookmark' type='submit'>
</form>

<ul id='links'>
  <% @links.each do |link| %>
    <li>
      <a href='<%= link.url %>'><%= link.title %></a>
      tags: 
      <% @tags.each do |tag| %>
        <%= tag.name %>
      <% end %>
    </li>
    <% end %>
</ul>
